body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.dial-container {
    width: 200px;
    height: 200px;
    position: relative;
}

.dial {
    width: 100%;
    height: 100%;
    background-image: url('https://raw.githubusercontent.com/aARdeLife/Dial/2ca36a501f23bbd5e9215bd7b593cf27a119f7fc/Asset%201mdpi.png');
    background-size: cover;
    position: absolute;
    cursor: pointer;
    transform-origin: center;
}
